html{
  background-image: url(https://www.viasat.com/content/dam/us-site/government/images/1245270_Space_Domain_Hero_003.jpg) ;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100hv;
  width:100vw;
}

body{
  color: white;
}


.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(196, 32, 32, 0.5)
  ),
  ;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgb(130, 203, 237);
  border: 1px solid white;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
